<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera</title>
</head>
<body>
    <form id="imageForm" enctype="multipart/form-data">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="hidden" id="pic" name="pic">
        <button onclick="capture()">Capture</button>
        <button id="scan" class="btn btn-primary" style="display: none;">Scan</button>
    </form>

    <video id="player" autoplay></video>
    <canvas id="canvas" style="display: none;"></canvas>

<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');
  const scan = document.getElementById('scan');
  const imgInput = document.getElementById('pic');
  const nameInput = document.getElementById('username');

  const vgaconstraints = {
    video: { width: { exact: 720 }, height: { exact: 480 } },
  };

  function capture() {
  // Draw the current frame of the video onto the canvas
  context.drawImage(player, 0, 0, canvas.width, canvas.height);
  // Convert the canvas content to a data URL (base64-encoded image)
  const imageDataURL = canvas.toDataURL('image/png');

  // Set the value of the hidden input field to the base64-encoded image data
  imgInput.value = imageDataURL;

  // Get the username from the input field
  const username = nameInput.value;

  // Create a FormData object to send the data as multipart/form-data
  const formData = new FormData();
  formData.append('username', username);
  formData.append('image', imageDataURL);

  // Specify the API endpoint to send the data to
  const apiLink = "http://localhost:5000/facereg";

  // Send the image data to the backend server using fetch
  fetch(apiLink, {
    method: 'POST',
    body: formData // Use formData as the body
  })
    .then(response => response.json())
    .then(data => {
      console
      console.log(data); // Log the response from the server
    })
    .catch(error => {
      console.error('Error:', error); // Log any errors that occur
    });
}


  function stop() {
    player.srcObject.getVideoTracks().forEach(track => track.stop());
  }

  navigator.mediaDevices.getUserMedia(vgaconstraints)
    .then((stream) => {
      player.srcObject = stream;
    });

</script>
</body>
