<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera</title>
</head>

<body>
    {% if message == 1 %}
    <h3 style="align-content: center;font-family: 'Ubuntu', sans-serif;position: absolute;border-radius: 0; left: 43%; top:0%;" class="alert-danger">Not clear<br></h3>
    {% endif %}

    <div style="padding: 0px;margin: 0px;width:220;height:240;">
        <canvas style="position: absolute; left: 0%;z-index: -1; top:0%;height: 480px;width: 640px;" id="canvas"></canvas>

        <button id="stop" onclick="stop()" style="display:none">stop</button>

        <video id="player" style="position: sticky;height: 640;width: 480;z-index: -1;" autoplay></video>

        <br>

        <button id="capture" style="align-content: center;position: absolute;border-radius: 100px; left: 47%; top:50%;" class="btn btn-primary" onclick="capture()">Capture</button>

    </div>

    <script>
        const player = document.getElementById('player');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const captureButton = document.getElementById('capture');
        const scan = document.getElementById('scan');
        const img = document.getElementById('pic');

        const vgaconstraints = {
            video: {
                width: {
                    exact: 720
                },
                height: {
                    exact: 480
                },
            },
        };

        function capture() {

            cap = canvas.toDataURL('image/png').split(",")[1];
            console.log(cap)

            const apiLink = "http://127.0.0.1:5000/facesetup";

            // Send a POST request to the API endpoint
            fetch(apiLink, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    pic: cap
                })
            }).then(response => {
                if (response.ok) {
                    // Request was successful, handle response data here if needed
                    console.log("Request successful!");
                } else {
                    // Request failed, handle error
                    console.log("Request failed with status code:", response.status);
                }
            }).catch(error => {
                // Request failed due to network error
                console.error("Request failed:", error);
            });
        }

        function stop() {
            player.srcObject.getVideoTracks().forEach(track => track.stop());
        }

        navigator.mediaDevices.getUserMedia(vgaconstraints)
            .then((stream) => {
                // Attach the video stream to the video element and autoplay.
                player.srcObject = stream;
            });
    </script>

</body>

</html>
